.main-layout{
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
}

.main-content {
    flex: 1;
    overflow: auto;
    /* background-color: #888; */
    background-color:#E9ECEF;
}