.card-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
   
  }
  

  @media (max-width: 768px) {
    .card-container {
      flex-direction: column; 
    }
  }

  .service-title {
    margin-bottom: 30px;
    color: #381a82;
    font-weight:400;
    width:70%;
    margin-left: 15%;
 
    

  }
  .title-service {
    margin-bottom: 30px;
    
  }

  .outer-container-service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #e9ecef;
  }